html {
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
}
.contain{
	margin-left: 12%;
	margin-right: 12%;

	padding-top: 2%;
	align-self: center;
}
.navigation{
	margin-top: 4rem;
	float: left;
	width: 20%;
	height: 100%;
	position: fixed;
}

.mainPic{
	width: 70%;
	border-radius: 3%;
}

.content{
	display: inline-block;
	margin-top: 3rem;
	margin-left: 25%;
	padding-right: 15rem;
	width: 85%;
}

.introPic{
	float: left;
	margin-right: 3.5%;
	width: 43%;
	border-radius: 2%;
}

.introduce{
	display: inline-block;
	width: 100%;
}
a{
	width: 12rem;
	height: 4rem;
}
.fbText{
	font-size: 2rem;
}
.experience{
	margin-top: 1rem;
	margin-bottom: 2rem;
	padding-left: 2rem;
	padding-bottom: 1rem;
	border-style: solid;
	border-width: 0.1rem;
	border-color: #aaa;
	border-radius: 1%;
}
.galleryContent{
	max-width: 15rem;
	max-height: 15rem;
	border-radius: 1%;
}
